In [1]:
# Imports pandas and pathlib.
import pandas as pd
import pathlib

In [2]:
# Shows the file path. 
school_data_import = pathlib.Path("../Resources/schools_complete.csv")
student_data_import = pathlib.Path("../Resources/students_complete.csv")

In [3]:
# Reads the csv files.
schools_data_df = pd.read_csv(school_data_import)
students_data_df = pd.read_csv(student_data_import)

In [4]:
print("DISTRICT SUMMARY")

DISTRICT SUMMARY

In [5]:
# Displays the head of the csv file (schools data's header and 5 rows of data).
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# Displays the head of the csv file (student data's header and 5 rows of data).
students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
# Counts the number of total unique schools.
total_unique_schools_df = len(schools_data_df["school_name"].unique())
print("Total number of unique schools : " , total_unique_schools_df)

Total number of unique schools :  15

In [8]:
# Counts the number of total students in district.
total_students_df = len(students_data_df["Student ID"])
print("Total students: ", total_students_df)

Total students:  39170

In [9]:
# Adds all the budget to calculate the total budget in district.
total_budget_df = schools_data_df["budget"].sum()
print("Total budget: ", total_budget_df)

Total budget:  24649428

In [10]:
# Calculates the average math score.
average_math_score_df = students_data_df["math_score"].mean()
print("Average math score: ", average_math_score_df)

Average math score:  78.98537145774827

In [11]:
# Calculates the average reading score.
average_reading_score_df = students_data_df["reading_score"].mean()
print("Average reading score: ", average_reading_score_df)

Average reading score:  81.87784018381414

In [12]:
# Calculates the percentage of students who passed math.
number_of_math_pass_students = (len(students_data_df.loc[students_data_df["math_score"] >= 70]))
percentage_of_math_pass_students = ((number_of_math_pass_students)/total_students_df)* 100
print("Percentage of math pass students: ", percentage_of_math_pass_students)

Percentage of math pass students:  74.9808526933878

In [13]:
# Calculates the percentage of students who passed reading.
number_of_reading_pass_students = (len(students_data_df.loc[students_data_df["reading_score"] >= 70]))
percentage_of_reading_pass_students = ((number_of_reading_pass_students)/total_students_df)* 100
print("Percentage of reading pass students: ", percentage_of_reading_pass_students)

Percentage of reading pass students:  85.80546336482001

In [14]:
# Calculates the percentage of students who passed both math and reading.
total_sutdent_attended_math_and_reading = (len(students_data_df.loc[students_data_df["reading_score"]]))+(len(students_data_df.loc[students_data_df["math_score"]]))                                                                 
overall_pass_students = number_of_reading_pass_students + number_of_math_pass_students
overall_pass_students
overall_percent_passed_math_and_reading = (overall_pass_students/total_sutdent_attended_math_and_reading)*100

In [15]:
# Displays the overall percentage who passed math and reading.
print("Overall passing percentage: ", overall_percent_passed_math_and_reading)

Overall passing percentage:  80.3931580291039

In [16]:
district_summary = [{"Total number of unique schools : " , total_unique_schools_df},
                    {"Total students: ", total_students_df},
                    {"Total budget: ", total_budget_df},
                    {"Average math score: ", average_math_score_df},
                    {"Average reading score: ", average_reading_score_df},
                    {"Percentage of math pass students: ", percentage_of_math_pass_students},
                    {"Percentage of reading pass students: ", percentage_of_reading_pass_students},
                    {"Overall passing percentage: ", overall_percent_passed_math_and_reading}
]
district_summary_df = pd.DataFrame(data=district_summary)
district_summary_df

                                       0                                   1
0      Total number of unique schools :                                   15
1                                  39170                    Total students:
2                         Total budget:                             24649428
3                   Average math score:                            78.985371
4                               81.87784             Average reading score:
5                              74.980853  Percentage of math pass students:
6  Percentage of reading pass students:                            85.805463
7                              80.393158        Overall passing percentage:

In [32]:
print("SCHOOL SUMMARY")

SCHOOL SUMMARY

In [29]:
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [19]:
students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [20]:
school_students_info_df =pd.merge(schools_data_df, students_data_df, on=["school_name"]) 
school_students_info_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [21]:
school_type_df = school_students_info_df["type"].unique()
school_type_df

array(['District', 'Charter'], dtype=object)

In [22]:
school_name_df = school_students_info_df["school_name"].unique()
school_name_df

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [23]:
total_student_per_school = school_students_info_df.groupby('school_name')
print(total_student_per_school["Student ID"].count())

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [24]:
total_budget_per_school_df =schools_data_df.groupby('school_name')
per_school_budget = total_budget_per_school_df["budget"].agg('sum')
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [25]:
#total_budget_per_student_df = per_school_budget/total_student_per_school
#total_budget_per_student_df

In [36]:
average_math_score_per_school = school_students_info_df.groupby('school_name')
print(average_math_score_per_school['math_score'].mean())

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [37]:
average_reading_score_per_school = school_students_info_df.groupby('school_name')
print(average_reading_score_per_school['reading_score'].mean())

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [76]:

# student_passing_math_per_school = school_students_info_df[(school_students_info_df["math_score"] >= 70)]
# student_passing_math_per_school= student_passing_math_per_school.groupby(["school_name"]).size()                                                  
# # percentage_student_passing_math_per_school=(student_passing_math_per_school/total_student_per_school)*100
# # percentage_student_passing_math_per_school
# print(student_passing_math_per_school)
school_students_info_df

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [47]:
student_passing_reading_per_school = school_students_info_df[(school_students_info_df["reading_score"] >= 70)]
student_passing_reading_per_school= student_passing_reading_per_school.groupby(["school_name"]).size()                                                  
percentage_student_passing_reading_per_school=(student_passing_reading_per_school/total_student_per_school)*100
percentage_student_passing_reading_per_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [ ]:
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100